<!DOCTYPE html>
<html>
<head>
	<title>
		{{ book_title }}: {{ section_title }}
	</title>
</head>
<body>
	<div style="text-align: center; width: 100%;">
		<div style="float:left; width 100px;">
			<a href="/thebook?section={{ previous_section }}">previous section</a>
		</div>
		<div style="float:right; width: 100px;">
			<a href="/thebook?section={{ next_section }}">next section</a>
		</div>

		<div style="display: inline-block; width: 100px;">
			<a href="/">home</a>
		</div>
	</div>
	<hr>
	<div style="clear: both;">
	</div>
</body>
</html>