<div class="header">
	<!--
	<a href="/thebook?section={{ previous_section }}">
	-->
		<div class="left_button" id="left_button_{{ loop.index }}" value="{{ loop.index }}">
			previous section
		</div>
	<!--
	</a>
	-->
	<!--
	<a href="/thebook?section={{ next_section }}">
	-->
		<div class="right_button" id="right_button_{{ loop.index }}" value="{{ loop.index }}">
			next section
		</div>
	<!--
	</a>
	-->
	<a href="/">
		<div class="center_button">
			home
		</div>
	</a>
</div>
<div style="clear: both;">
</div>
<br><br>